
header{
  position: absolute;
  top: 25px;
}

#bodyLvl{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;

  #menu{
    position: absolute;
    left: 50px;
    top: 50px;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    border: 1px solid red;
    padding: 10px 15px 10px 15px;
    &:hover{
      cursor: pointer;
    }
  }

  #indice{
    position: absolute;
    bottom: 20px;
    left: 5%;
    font-size: 24px;
    button{
      padding: 10px 10px 10px 10px;
    }
    p{
      opacity: 0;
      background-color: lightgray;
    }
  }
  #code{
    width: 42.5%;
    height: 500px;
    background-color: lightblue;
    position: absolute;
    left: 5%;
    font-size: 24vw;
    style{
      height: 100%;
    }
  }

  .resultat{
    width: 42.5%;
    height: 500px;
    position: absolute;
    right: 5%;
    border: 1px solid black;
  }

  #next{
    position: absolute;
    bottom: 100px;
    right: 150px;
    border: 1px solid red;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    &:hover{
      cursor: pointer;
    }
  }
}